/* _footer.scss */
footer {
  background-color: #2E2E2E; // Color de fondo del footer
  color: #ffffff; // Color del texto
  padding: 40px 0;

  .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      flex-wrap: wrap;

      .footer-logo {
          img {
              width: 150px; // Ajusta el tamaño del logo según sea necesario
          }
      }

      .footer-nav {
          ul {
              display: flex;
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                  margin-right: 20px;

                  &:last-child {
                      margin-right: 0;
                  }

                  a {
                      color: #ffffff;
                      text-decoration: none;
                      font-weight: bold;
                      transition: color 0.3s ease;

                      &:hover {
                          color: #96DAEA; // Color al pasar el mouse
                      }
                  }
              }
          }
      }

  .footer-copy {
    margin-top: 30px;
    font-size: 10px;
    color: $color-gray;
  }
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaaaaa;
}
}

/* _footer.scss */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* Color verde de WhatsApp */
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.whatsapp-button img {
  width: 40px;
  height: 40px;
}